@charset "UTF-8";

a{ text-decoration: none}

.title{
	width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(51, 85, 139);
}

.word{
	color: white;
    font-size: 46px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.8px;
    position: relative;
    z-index: 20;
}

.searchbar{
	display: inline-block;
    width: 636px;
    height: 50px;
    color: rgb(34, 34, 34);
    font-size: 20px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    margin: 14px 0px 14px 54px;
    padding: 0px 20px;
    border-width: 0px 0px 0px 1px;
    border-image: initial;
    border-left: 1px solid rgb(221, 221, 221);
    outline: none;
}

.picture{
	float: left;
    width: 185px;
    height: 172px;
    background-color:aqua;
}

.viewsection{
	width: 100%;
    height: 200px;
    margin-top: 26px;
    position: relative;
}

.picturepart{
	width: 100%;
    height: 100%;
    position: relative;
}

.picturetitle{
	float:left;
	width:185px;
	height:28px;
	position: relative;
}

.part{
	width:185px;
	height:200px;
	border : gray;
}

.firstpara{
	
	margin-top:20px;
}

.secondpara{
	margin-top:20px;
}

.thirdpara{
	margin-top:20px;
}

.search{
	margin : auto;
	text-align: center;
}